@model myDamco.Database.Setting

<tr data-pkey="@Model.Id" class="editRow">
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.EditorFor(modelItem => Model.Value)
        @Html.ValidationMessageFor(modelItem => Model.Value)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Description)
    </td>
    <td>
        <button class="saveRow">Save</button>
        <button class="cancelEditRow">Cancel</button>
    </td>
</tr>